<div class="container mt-5">
  <div class="form-group">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search"
        aria-describedby="search-button"
      />
      <button class="btn btn-dark" type="button" id="search-button">
        <i class="bi bi-search"></i>
      </button>
    </div>
    <table class="table table-hover">
      <thead>
        <tr class="table-dark text-center">
          <th class="" scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col">Department</th>
          <th scope="col">Position</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center" *ngFor="let employee of employees">
          <th scope="row">{{ employee.name }}</th>
          <td>{{ employee.age }}</td>
          <td>{{ employee.department }}</td>
          <td>{{ employee.position }}</td>
          <td><i class="bi bi-arrow-right-circle"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
