<nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ManagementApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor01"
      aria-controls="navbarColor01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ng-container *ngIf="authService.loggedUser$ | async as user"
        ><ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/employees/list"
              routerLinkActive="active"
              >Employees</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/activities/list"
              routerLinkActive="active"
              >Activities</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/departments/list"
              routerLinkActive="active"
              >Departments</a
            >
          </li>
        </ul>
        <div class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            href="#"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            >Hello, {{ user.displayName }}</a
          >
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Edit Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="!(authService.loggedUser$ | async)">
        <div class="d-flex ms-auto">
          <button class="btn btn-primary my-2 my-sm-0" routerLink="/auth/login">
            Sign In
          </button>
          <button
            class="btn btn-primary my-2 my-sm-0 ms-2"
            routerLink="/auth/register"
          >
            Sign Up
          </button>
        </div>
      </ng-container>
    </div>
  </div>
</nav>
